[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

server-id=2                       #保证每个服务器不一样
log-bin=mysql-bin                 #开启bin日志
auto-increment-increment = 2      #步进值auto_imcrement。一般有n台主MySQL就填n
auto-increment-offset = 2         #起始值。一般填第n台主MySQL。此时为第一台主MySQL
binlog_format = mixed             #设置binlog格式为mixed
sync_binlog=1                     #事务特性每1次事务提交 
binlog-do-db=zabbix               #同步的据库名
binlog-ignore-db=mysql            #不同步数据库名
binlog-ignore-db=sys
binlog-ignore-db=performance_schema
binlog-ignore-db=information_schema
replicate-do-db=zabbix            #需要复制的数据库   
replicate-ignore-db=mysql         #不需要复制的数据库
replicate-ignore-db=sys
replicate-ignore-db=performance_schema
replicate-ignore-db=information_schema
